<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="login" text="">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-color">
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <ion-card-title>
        S'inscrire
      </ion-card-title>
      <ion-card-subtitle>
        Créer un compte en remplissant se formulaire.
      </ion-card-subtitle>
    </ion-card-header>
    <form>
      <ion-card-content>

        <ion-item>
          <ion-input name="email" type="text" placeholder="E-mail">
            <ion-icon name="mail-outline"></ion-icon>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input name="password" type="password" placeholder="************">
            <ion-icon name="lock-closed"></ion-icon>
          </ion-input>
        </ion-item>
        <div class="sign-btn-wrap">
          <ion-button shape="round" type="submit" fill="solid" class="sign-btn" [actionButtonText]="'Create Account'">
            S'inscrire
          </ion-button>
        </div>
      </ion-card-content>
    </form>
  </ion-card>

</ion-content>
