<!-- Page d'acceuil une fois connecté en tant qu'utilisateur -->
<ion-content>
  <ion-card class="ion-no-margin">
    <ion-img src="assets/images/header.png">
    </ion-img>
    <ion-card-header>
      <ion-card-title>
        Bienvenue sur votre compte !
      </ion-card-title>
      <ion-card-subtitle>
        <p>Cette application est un test en Ionic pour USTS.</p>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div class="signin-btns">
        <ion-button fill="solid" shape="round"  class="loginbtn" (click)="logout()">Se déconnecter</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
